@import url("Components/navbar-footer.css");
@import url("Components/banner.css");
@import url("Components/typography.css");
@import url("Components/colors.css");
@import url("Components/grid.css");
@import url("Components/skills.css");
@import url("Components/components.css");
@import url("Components/modal.css");

body {
	font-family: "Poppins", sans-serif;
	margin: 0px;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	color: #fc4827;
}
