.welcome-banner {
	display: flex;
	height: 90vh;
  background-size: cover !important;
  align-items: center;
  justify-content: center;
 	box-shadow: 2px 8px 50px -13px rgba(145,145,145,1);
}

.tv-banner {
	display: flex;
	height: 50vh;
  background-size: cover !important;
  align-items: center;
  justify-content: center;
 	box-shadow: 2px 8px 50px -13px rgba(145,145,145,1);
}

.tv-pic{
	display: flex;
	width: 100%;
	height: auto;
	box-shadow: 2px 8px 50px -13px rgba(145,145,145,1);
	min-width:265px ;
}

/*@media only screen and (max-width: 600px) {
	.tv-pic {
		height: 30vh;
  }
}*/

.kontakt-foto {
	/*height: 60vh;*/
	width: 100%;
  background-size: cover !important;
	box-shadow: 2px 8px 50px -13px rgba(145,145,145,1);
}



.image-banner {
/*	height: 75vh;
*/  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
 	box-shadow: 2px 8px 50px -13px rgba(145,145,145,1);
}

.banner-content {
	display: flex;
	justify-content: flex-end;
	/*max-width: 338px;*/
}


.flex-item{
	justify-content: flex-end;
}


.quote-banner {
	color:#C70039;
	background-size: cover;
	box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
}

.quote-banner-no-shadow {
	color:#C70039;
	background-size: cover;
	box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,.1), 0 0.9375rem 1.40625rem rgba(90,97,105,.1), 0 0.25rem 0.53125rem rgba(90,97,105,.12), 0 0.125rem 0.1875rem rgba(90,97,105,.1);
}

.quote-banner-beige {
	color:#C70039;
	background-size: cover;
	background-color: #E6E4E4;
}

.quote-banner-type {
	padding: 100px 32px !important;
	font-style: italic;
	margin:50px 0px;
}

.quote-banner-type-white {
	color:white;
	padding: 70px 100px !important;
	font-style: italic;
}

.beige-banner {
	padding: 60px ;
	background-color: #F5EFEF;
/*	margin-bottom: -22px;*/
}

.background-image-style-2 {
  min-height: 512px;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (max-width: 600px) {
	.background-image-style-2 {
		min-height: 347px;
  }
}
/*tktk media querry*/

.sample-logo-space{
	background-color: rgba(250, 250, 250, 0.5);
}

.logos{
	height: auto;
	width: 100%;
	background-repeat: no-repeat;
	/*	margin:0 auto;*/
}


.row-container {
	margin: 30px 0px;
}

.testimonial-container	{
	margin:20px 100px;
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

