.blue {
	color: #6f8694;
}

.white {
	color: white;
}

.black {
	color: black;
}

.grey-brown {
	color: #c1bcb4;
}
.grey-2 {
	color: #9cb3b1;
}

.peach-background {
	background-color: #fff0e1;
}
.peach-light {
	color: #fff0e1;
}

.red {
	color: #fc4827;
}

.blue-bright-background {
	background: #7fffd4;
}
.blue-bright {
	color: #7fffd4;
}
/* #9cb3b1 #61D3C9 #899392 */
.blue-rule {
	border-bottom: 0.5px solid #fc4827;
	margin: 100px 0px;
}
