.blue {
	color: #6f8694;
}

.white {
	color: white;
}

.black {
	color: black;
}
.peach-background {
	background-color: #fff0e1;
}
/* .pale-yellow {
  background-color: #fff0e1;
} */
/* .pale-yellow{
  background-color:rgba(255, 240, 225, .3);
} */

/* color:rgb(176, 185, 192); */
/* color: hsl(184, 80%, 74%);
  color: hsla(227, 109%, 51%, 1); */
