.blue {
	color:#6F8694;
}

.white {
	color:white;
}

.black {
	color:black;
}

.pale-yellow{
  background-color:#FFF0E1;
}
/* .pale-yellow{
  background-color:rgba(255, 240, 225, .3);
} */
 .text-background {
   background:rgba(0, 00, 0, .9);
}
