.circle {
	margin: 0 25%;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}
@media (max-width: 992px) {
	.circle {
		margin: 0 33%;
	}
}

@media (max-width: 768px) {
	.circle {
		margin: 0 40%;
	}
}

.circle-wrap {
	float: left;
	shape-outside: circle(50%);
	margin: 16px 15px 0px 0px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.testimonial-box {
	margin: 30px 50px 0px 0px;
}

.portfolio-box {
	padding: 30px;
	border: 0.5px solid #fc4827;
	border-radius: 1px;
}
/* .portfolio-box:last-child {
	margin: 0px 0px 4px 0px;
} */

.portfolio-text-only-box {
	padding: 40px;
	margin: 0px 40px;
	background: #fcfcfc;
	border: 0.5px solid #fc4827;
	border-radius: 1px;
}

.text-only-box {
	padding: 40px;
	background: #fcfcfc;
	border: 0.5px solid #fc4827;
	border-radius: 1px;
}

/* spacing */
.spacing-25px {
	height: 25px;
}
.spacing-50px {
	height: 50px;
}
.sample-box {
	padding: 20px 40px;
	background: #7fffd4;
	height: 800;
}
.sample-box-b {
	padding: 20px 40px;
	color: #fd4927;
	background: #ffeeeb;
}
.button {
	padding-top: 24px;
}
