.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 40px 0px;
  /* background-color:pink; */
}




.flex-container-orange {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 40px 0px;
  /* background-color:orange; */
}
.flex-container-grey {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  /* background-color:orange; */
}

.flex-item{
  width: 522px;
  padding:10px;
  margin:10px;
}

.flex-item-a{
  width: 522px;
  padding:10px;
  background-color:yellow;
  margin:10px;
}
.flex-item-b{
  width: 50%;
  background-color:yellow;
  height: 60vh;
}
.flex-item-c{
  width: 50%;
  background-color:lightcyan;
  height: 60vh;
}



/* .flex-item-b{
  width: 440px;
  padding:10px;
  background-color:grey;
  margin:20px;
  border: solid 3px;
  outline-offset: 0.5rem;
} */
