.footer {
	background-color: aquamarine;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 0px;
	padding: 20px 15px;
	vertical-align: baseline;
}

@media only screen and (max-width: 600px) {
	.footer {
		text-align: center;
	}
}
