.logo-grid-container {
	display: grid;
	align-items: center;
	padding: 0rem 6rem 6rem 6rem;
	grid-template-columns: auto auto auto auto auto auto auto auto;
}
@media(max-width: 768px) {
  .logo-grid-container {
    display:none;
  }
}
.two-col-grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
}
/* @media(max-width: 992px) {
  .cards {
	grid-template-columns: 50% 50%;
  }
} */

@media(max-width: 768px) {
  .two-col-grid-container {
    grid-template-columns: 1fr;
  }
}

.portfolio-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 24px;
}

@media (max-width: 992px) {
	.portfolio-grid-container {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 768px) {
	.portfolio-grid-container {
		grid-template-columns: 1fr;
	}
}

.four-col-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-row-gap: 20px;
}

@media (max-width: 992px) {
	.four-col-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
	.four-col-grid-container {
		grid-template-columns: 100%;
	}
}
