.two-col-grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
}
@media (max-width: 768px) {
	.two-col-grid-container {
		display: grid;
		grid-template-columns: 100%;
	}
}
.three-col-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4em 2em;
}
@media (max-width: 768px) {
	.three-col-grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.four-col-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 768px) {
	.four-col-grid-container {
		display: grid;
		grid-template-columns: 100%;
	}
}

.four-col-grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 768px) {
	.four-col-grid-container {
		display: grid;
		grid-template-columns: 100%;
	}
}

.logo-grid-container {
	display: grid;
	align-items: center;
	padding: 0px 70px;
	grid-template-columns: auto auto auto auto auto auto auto auto;
}
