/* Portfolio Boxes Home Page */
.portfolio-piece {
	height: 400px;
	background-size: cover;
	width: 100%;
}
@media (max-width: 768px) {
	.portfolio-piece {
		height: 170px;
	}
}

.banner-case {
	height: 520px;
	background-size: cover;
	/* align-items: center; */
	/* margin: 0px 167px 25px 0px; */
}
@media (max-width: 900px) {
	.banner-case {
		margin: 10px 0px 00px 0px;
		height: 200px;
	}
}

/* subpages */
/* top banner */
	/* will this be banner for all subpages? */
/* */
.banner-case-borsen {
	height: 520px;
	background-size: cover;
	/* align-items: center; */
	margin: 0px 167px 25px 67px;
}
@media (max-width: 960px) {
	.banner-case-borsen {
		margin: 10px 0px 00px 0px;
		height: 200px;
	}
}
.borsen-bubble{
	height: 692px;
	background-size: cover;
}
@media (max-width: 960px){
	.borsen-bubble{
		height: 253px;
	}
}
.borsen-lollipop{
	height: 455px;
	background-size: cover;
}
@media (max-width: 960px){
	.borsen-lollipop{
		height: 168px;
	}
}
.borsen-goodInfo {
	height: 520px;
	background-size: cover;
	height: 548px;
	/* margin: 0px 167px 25px 0px; */
}
@media (max-width: 900px) {
	.borsen-goodInfo {
		margin: 10px 0px 00px 0px;
		height: 203px;
	}
}
.borsen-goodInfo-2 {
	height: 548px;
	background-size: cover;
	height: 548px;
	/* margin: 0px 167px 25px 0px; */
}
@media (max-width: 900px) {
	.borsen-goodInfo-2 {
		margin: 10px 0px 00px 0px;
		height: 203px;
	}
}
.borsen-renault {
	height: 412px;
	background-size: cover;
	/* margin: 0px 167px 25px 0px; */
}
@media (max-width: 900px) {
	.borsen-renault {
		margin: 10px 0px 00px 0px;
		height: 150px;
	}
}
.borsen-deltaG {
	height: 548px;
	background-size: cover;
	/* margin: 0px 167px 25px 0px; */
}
@media (max-width: 900px) {
	.borsen-deltaG {
		margin: 10px 0px 00px 0px;
		height: 150px;
	}
}


/* aktivFoodie */
.banner-aktivFoodie{
	height: 794px;
	background-size: cover;
}
@media (max-width: 900px) {
	.banner-aktivFoodie {
		height: 215px;
		margin: 10px 0px 00px 0px;

	}
}

/* Railsgirls */
.banner-railsGirls {
	height: 804px;
	background-size: cover;
	/* align-items: center; */
	/* margin: 0px 167px 25px 0px; */
}
@media (max-width: 900px) {
	.banner-railsGirls {
		margin: 10px 0px 00px 0px;
		height: 144px;
	}
/* }
.video{
	height: 144px !important;
} */


/* borsen pics old*/
/* Ukraine  */
/* .height-305px {
	height: 305px;
}
@media (max-width: 375px) {
	.height-305px {
		height: 125px;
	}
} */
/* Renault  */
/* .height-450px {
	height: 450px;
}
@media (max-width: 375px) {
	.height-450px {
		height: 150px;
	}
} */


/* miscellaneous */
.background-size-cover{
	background-size: cover;
}


.company-logos {
	margin-top: 15px;
	height: 45px;
}


/* Checklist  */
.height-240px {
	height: 240px;
}
@media (max-width: 375px) {
	.height-240px {
		height: 100px;
	}
}
/* spread  */
.height-600px {
	height: 600px;
}
@media (max-width: 375px) {
	.height-600px {
		height: 180px;
	}
}

/* @media (max-width: 768px) {
	.to-hide-mobile {
		display: none;
	}
}
.devices-plat-3 {
	height: 400px;
}
@media (max-width: 768px) {
	.devices-plat-3 {
		height: 133px;
	}
}
.platypus-cards {
	height: 169px;
}
@media (max-width: 768px) {
	.platypus-cards {
		height: 50px;
	}
}
.devices-filter-plat {
	height: 325px;
}
@media (max-width: 768px) {
	.devices-filter-plat {
		height: 148px;
	}
} */