@media (max-width: 768px) {
	.to-hide-mobile {
		display: none;
	}
}
/* Below, Platypus subpage */
/* 3 devices image */
.devices-plat-3 {
	height: 400px;
}
@media (max-width: 768px) {
	.devices-plat-3 {
		height: 133px;
	}
}
