/* Portfolio Boxes Home Page */
.portfolio-piece {
	height: 400px;
	background-size: cover;
	width: 100%;
}

@media (max-width: 768px) {
	.portfolio-piece {
		height: 176px;
	}
}

.banner-case {
	height: 520px;
	background-size: cover;
	/* align-items: left; */
	/* margin: 0px 167px 25px 0px; */
}

@media (max-width: 900px) {
	.banner-case {
		margin: 10px 0px 00px 0px;
		height: 200px;
	}
}

/* subpages */
/* top banner */
/* will this be banner for all subpages? */
/* */
.banner-case-borsen {
	height: 520px;
	background-size: cover;
	/* align-items: left; */
	margin: 0px 167px 25px 67px;
	background-position: top left;
}

@media (max-width: 960px) {
	.banner-case-borsen {
		margin: 10px 0px 00px 0px;
		height: 200px;
	}
}

.borsen-bubble {
	height: 692px;
	background-size: cover;
	background-position: top left;
}

@media (max-width: 480px) {
	.borsen-bubble {
		height: 31vh;
	}
}

@media (min-width: 481px) and (max-width: 1024px) {
	.borsen-bubble {
		height: 51vh;
	}
}

.borsen-lollipop {
	height: 455px;
	background-size: cover;
	background-position: top left;
}

@media (max-width: 960px) {
	.borsen-lollipop {
		height: 198px;
	}
}

.borsen-goodInfo {
	height: 520px;
	background-size: cover;
	height: 548px;
	background-position: top left;
	/* margin: 0px 167px 25px 0px; */
}

@media (max-width: 900px) {
	.borsen-goodInfo {
		margin: 10px 0px 00px 0px;
		height: 203px;
	}
}

.borsen-goodInfo-2 {
	height: 548px;
	background-size: cover;
	height: 548px;
	background-position: top left;
	/* margin: 0px 167px 25px 0px; */
}

@media (max-width: 900px) {
	.borsen-goodInfo-2 {
		margin: 10px 0px 00px 0px;
		height: 203px;
	}
}

.borsen-renault {
	height: 415px;
	background-size: cover;
	background-position: top left;
	/* margin: 0px 167px 25px 0px; */
}

@media (max-width: 900px) {
	.borsen-renault {
		margin: 10px 0px 00px 0px;
		height: 153px;
	}
}

.borsen-deltaG {
	height: 548px;
	background-size: cover;
	/* margin: 0px 167px 25px 0px; */
}

@media (max-width: 900px) {
	.borsen-deltaG {
		margin: 10px 0px 00px 0px;
		height: 150px;
	}
}

/* Railsgirls Page */
.banner-railsGirls {
	height: 801px;
	background-size: cover;
	background-position: center center;
}
@media (max-width: 1024px) {
	.banner-railsGirls {
		margin: 10px 0px 00px 0px;
		height: 528px;
	}
}
@media (max-width: 976px) {
	.banner-railsGirls {
		margin: 10px 0px 00px 0px;
		height: 423px;
	}
}
@media (max-width: 576px) {
	.banner-railsGirls {
		margin: 10px 0px 00px 0px;
		height: 159px;
	}
}
/* @media (max-width: 900px){
	.banner-railsGirls {
		margin: 10px 0px 00px 0px;
		height: 458px;
	}
}  */
.railsG-UIkit {
	height: 431px;
	background-size: cover;
	background-position: top left;
}

@media (max-width: 480px) {
	.railsG-UIkit {
		height: 20vh;
	}
}

.railsG-connections {
	height: 464px;
	background-size: cover;
	background-position: top left;
}

@media (max-width: 480px) {
	.railsG-connections {
		height: 20vh;
	}
}
.railsG-color {
	height: 192px;
	background-size: cover;
	/* align-items: left; */
	background-position: top left;
}
@media (max-width: 960px) {
	.railsG-color {
		height: 9vh;
	}
}

/* aktivFoodie */
.banner-aktivFoodie {
	height: 794px;
	background-size: cover;
	background-position: top left;
}
@media (max-width: 1024px) {
	.banner-aktivFoodie {
		height: 533px;
		margin: 10px 0px 00px 0px;

	}
}
@media (max-width: 768px) {
	.banner-aktivFoodie {
		height: 359px;
		margin: 10px 0px 00px 0px;

	}
}
@media (max-width: 576px) {
	.banner-aktivFoodie {
		height: 149px;
		margin: 10px 0px 00px 0px;
	}
}
.aktivFoodie-rows {
	height: 907px;
	background-size: cover;
	background-position: top left;
}
@media (max-width: 768px) {
	.aktivFoodie-rows {
		margin: 10px 0px 00px 0px;
		height: 802px;
	}
}
@media (max-width: 576px) {
	.aktivFoodie-rows {
		margin: 10px 0px 00px 0px;
		height: 329px;
	}
}

.aktivFoodie-new {
	height: 425px;
	background-size: cover;
	background-position: top left;
}
@media (max-width: 794px) {
	.aktivFoodie-new {
		margin: 10px 0px 00px 0px;
		height: 386px;
	}
}
@media (max-width: 375px) {
	.aktivFoodie-new {
		margin: 10px 0px 00px 0px;
		height: 161px;
	}
}

.aktivFoodie-steps {
	height: 541px;
	background-size: cover;
	background-position: top left;
}
@media (max-width: 576px) {
	.aktivFoodie-steps {
		margin: 10px 0px 00px 0px;
		height: 204px;
	}
}

/* cphux */
.cphux-1{
	background-size: cover;
	margin: 0px 167px 25px 0px;
	height: 733px;
	margin: 0 auto;
}
@media (max-width: 1024px) {
	.cphux-1 {
		margin: 10px 0px 00px 0px;
		height: 512px;
		background-position: center center;
	}
}

@media (max-width: 898px) {
	.cphux-1 {
		margin: 10px 0px 00px 0px;
		height: 402px;
		background-position: center center;
	}
}
@media (max-width: 576px) {
	.cphux-1 {
		margin: 10px 0px 00px 0px;
		height: 19vh;
	}
}


.cphux-a3{
	height: 836px;
}
@media (max-width: 576px) {
	.cphux-a3 {
		margin: 10px 0px 00px 0px;
		height: 500px;
	}
}


.cphux-2 {
	height: 432px;
	background-size: cover;
	/* align-items: left; */
	/* margin: 0px 167px 25px 0px; */
}

@media (max-width: 1024px) {
	.cphux-2 {
		margin: 10px 0px 00px 0px;
		height: 422px;
	}
}

@media (max-width: 768px) {
	.cphux-2 {
		margin: 10px 0px 00px 0px;
		height: 375px;
	}
}

@media (max-width: 576px) {
	.cphux-2 {
		margin: 10px 0px 00px 0px;
		height: 157px;
	}
}

.banner-css {
	height: 400px;
	background-size: cover;
	/* align-items: left; */
	/* margin: 0px 167px 25px 0px; */
}

@media (max-width: 576px) {
	.banner-css {
		margin: 10px 0px 00px 0px;
		height: 138px;
	}
}

/* editorial */
.mag-new {
	height: 245px;
	background-size: cover;
}
@media (max-width: 1024px) {
	.mag-new {
		margin: 10px 0px 00px 0px;
		height: 165px;
	}
}
@media (max-width: 900px) {
	.mag-new {
		margin: 10px 0px 00px 0px;
		height: 94px;
	}
}
@media (max-width: 768px) {
	.mag-new {
		margin: 10px 0px 00px 0px;
		height: 122px;
	}
}
@media (max-width: 375px) {
	.mag-new {
		margin: 10px 0px 00px 0px;
		height: 95px;
	}
}

.mag-money {
	height: 456px;
	background-size: cover;
	background-position: top left;
}

@media (max-width: 900px) {
	.mag-money {
		margin: 10px 0px 00px 0px;
		height: 168px;
	}
}
.mag-ing {
	height: 354px;
	background-size: cover;
	background-position: top left;
}

@media (max-width: 900px) {
	.mag-ing {
		margin: 10px 0px 00px 0px;
		height: 125px;
	}
}
.mag-ym {
	height: 636px;
	background-size: cover;
	background-position: top left;
}

@media (max-width: 900px) {
	.mag-ym {
		margin: 10px 0px 00px 0px;
		height: 238px;
	}
}
.mag-profil {
	height: 714px;
	background-size: cover;
	background-position: top left;
}

@media (max-width: 900px) {
	.mag-profil {
		margin: 10px 0px 00px 0px;
		height: 258px;
	}
}
.mag-penge {
	height: 714px;
	background-size: cover;
	background-position: top left;
}

@media (max-width: 900px) {
	.mag-penge {
		margin: 10px 0px 00px 0px;
		height: 365px;
	}
}
/* lyngaardmedia */
/* new css top banner */

.lyndgaard-banner {
	height: 797px;
	background-size: cover;
	background-position: top left;
}
@media (max-width: 1024px) {
	.lyndgaard-banner {
		margin: 10px 0px 00px 0px;
		height: 497px;
	}
}
@media (max-width: 768px) {
	.lyndgaard-banner {
		margin: 10px 0px 00px 0px;
		height: 428px;
	}
}
@media (max-width: 400px) {
	.lyndgaard-banner {
		margin: 10px 0px 00px 0px;
		height: 171px;
	}
}


/* below is 3image collage */
.lyndgaard {
	height: 492px;
	background-size: cover;
	background-position: top left;
}
@media (max-width: 1024px) {
	.lyndgaard {
		margin: 10px 0px 00px 0px;
		height: 497px;
	}
}
@media (max-width: 768px) {
	.lyndgaard {
		margin: 10px 0px 00px 0px;
		height: 428px;
	}
}
@media (max-width: 400px) {
	.lyndgaard {
		margin: 10px 0px 00px 0px;
		height: 171px;
	}
}



.lynd-new-collage {
	height: 500px;
	background-size: cover;
	background-position: top left;
}

@media (max-width: 900px) {
	.lynd-new-collage {
		margin: 10px 0px 00px 0px;
		height: 189px;
	}
}

.lyndgaard-1{
	height: 969px;
	background-size: cover;
	background-position: top left;
	margin-top: 50px;
}
@media (max-width: 900px) {
	.lyndgaard-1{
		margin: 10px 0px 00px 0px;
		height: 552px;
	}
}
@media (max-width: 768px) {
	.lyndgaard-1{
		margin: 10px 0px 00px 0px;
		height: 1395px;
	}
}
@media (max-width: 768px) {
	.lyndgaard-1{
		margin: 10px 0px 00px 0px;
		height: 489px;
	}
}

/* miscellaneous */
.background-size-cover {
	background-size: cover;
}

.company-logos {
	margin-top: 15px;
	height: 45px;
}


/* Checklist  */
.height-240px {
	height: 240px;
}

@media (max-width: 375px) {
	.height-240px {
		height: 100px;
	}
}

/* spread  */
.height-600px {
	height: 600px;
}

@media (max-width: 375px) {
	.height-600px {
		height: 180px;
	}
}