#logo {
  margin-top: 15px;
  height: 30px;
  /* display: inline; */
}

.navbar-4-wrapper {
  background-color: aquamarine;
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  padding: 30px;
  /* margin: 0px 20px 30px 20px; */
  /* max-width: 1140px; */
  /* width: 100%; */
  left: 50%;
  /* transform: translateX(-50%); */
  /* z-index: 2; */
}

/*.navbar-logo-container {
  display: flex;
  width: 50%;
  margin-left: 20px;
}*/

.navbar-4-container {
  display: flex;
  width: 50%;
  margin-left: 20px;
}
/* ul {
  margin: 0;
  padding: 0;
} */
li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}


.menu-marci li {
  display:inline;
  list-style-type: none;
  margin:20px;
}




.navbar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 20px 55px 20px 20px;
	vertical-align: baseline;
	/* border-bottom: 4px solid ; */
  align-items: center;
}

@media only screen and (max-width: 600px) {
	.navbar {
  	visibility: hidden;
  }
}

.navbar-2 {
  background-color:rgba(255, 240, 225, .3);
  display: flex;
 justify-content: flex-end;
  padding: 33px 36px 30px 46px;
  /* margin: 20px 55px 20px 60px; */
	vertical-align: baseline;
	/* border-bottom: 4px solid ; */
  /* align-items: center; */
}
.menu-marci-wrapper {
  display: flex;
  justify-content: flex-end;
  background-color:rgba(255, 240, 225, .1);
}
.menu-marci li {
  display:inline;
  list-style-type: none;
  margin:20px;
}

/* .navbar-3 {
  display: flex;
  justify-content: flex-end;
  height: 50px;;
  margin: 20px 10px 20px 20px;
}
@media only screen and (min-width: 600px) {
	.navbar {
  	visibility: hidden;
  }
} */

.navbar-text{
  font-family: 'Poppins', sans-serif;
  color:#FC4827;
  font-size: 14px;
}

a {
  color:#FC4827;
  text-decoration: none;
  font-size: 16px;
  text-align: right;
}

.navbar a:visited {
  text-decoration: none;
}

.navbar-right a:hover{
	color: rgba(145,145,145,1);
  text-decoration: none;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: tomato;
}

#menuToggle {
  /* display: block; */
  position: relative;
  /* top: 50px;
  left: 50px; */
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input {
  /* display: block; */
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}
/* * Just a quick hamburger */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  /* position: relative; */
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/* * Transform all the slices of hamburger into a crossmark. */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  /* background: #232323; */
  background:pink;

}
/** But let's hide the middle one. */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/* * Oh yeah and the last one should go the other direction  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
/* * Make this absolute positioned  * at the top left of the screen */
#menu {
  /* position: absolute; */
  /* width: 300px; */
  /* margin: -100px 0 0 -50px; */
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  /* transform: translate(-100%, 0); */
  transform: translate(165%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
}
/* * And let's slide it in from the left */
#menuToggle input:checked ~ ul {
  transform: none;
}
/* end of sample hamburger  */








/* @media only screen and (max-width: 600px) {
	#logo {
  	margin:auto;
  }
} */
