#logo {
	margin-top: 15px;
	height: 30px;
}

.navbar-wrapper {
	background-color: #7fffd4;
	display: flex;
	justify-content: space-between;
	padding: 30px 52px;
}
@media (max-width: 768px) {
	.navbar-wrapper {
		padding: 20px 48px;
	}
}

@media (max-width: 768px) {
	.links-container {
		display: none;
	}
}
.contact-footer {
	display: grid;
	grid-template-columns: 95% auto;
	align-items: end;
}
.footer {
	background-color: #7fffd4;
	letter-spacing: 1px;
	padding: 2rem 6rem 4rem 6rem;
}
@media (max-width: 768px) {
	.footer {
		padding: 30px;
	}
}
.footer-grid {
	margin-top: -6px;
	display: grid;
	grid-template-columns: 86% 20%;
	align-items: end;
}
@media (max-width: 768px) {
	.footer-grid {
		grid-template-columns: 1fr;
	}
}
.footer-social {
	display: grid;
	grid-template-columns: 20% 20% 20%;
}
