#logo {
	margin-top: 15px;
	height: 30px;
}

.navbar-4-wrapper {
	background-color: #7fffd4;
	display: flex;
	justify-content: space-between;
	padding: 30px;
	left: 50%;
}

.footer {
	background-color: #7fffd4;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 0px;
	padding: 20px 15px;
	vertical-align: baseline;
}

@media only screen and (max-width: 600px) {
	.footer {
		text-align: center;
	}
}
