#logo {
	margin-top: 15px;
	height: 30px;
}

.navbar-wrapper {
	background-color: #7fffd4;
	display: flex;
	justify-content: space-between;
	padding: 30px 52px;
}
@media (max-width: 768px) {
	.navbar-wrapper {
		padding: 20px 48px;
	}
}

@media (max-width: 768px) {
	.links-container {
		display: none;
	}
}
.contact-footer {
	display: grid;
	grid-template-columns: 95% auto;
	align-items: end;
}
.footer {
	background-color: #7fffd4;
	letter-spacing: 1px;
	padding: 2rem 6rem 4rem 6rem;
}
@media (max-width: 768px) {
	.footer {
		padding: 30px;
		/* text-align: center; */
	}
}
.footer-wrapper {
	margin-top: -6px;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: end;
}
@media (max-width: 768px) {
	.footer-wrapper {
		grid-template-columns: 1fr;
		text-align: center;
	}
}
.footer-social {
	padding-left: 0px;
	font-size: 23px;
	margin-top: -5px;
}
@media (max-width: 768px) {
	.footer-social {
		padding-left: 11px;
	}
}
