
/* below width 70vw is a test */
.case-text-box {
	padding: 00px 200px 00px 50px;
	/* width: 70vw; */
}
@media (max-width: 900px) {
	.case-text-box {
		padding: 0px 30px 30px 30px;
	}
}
.case-text-header {
	margin: 0px 67px 2px 0px;
}
@media (max-width: 768px) {
	.case-text-header {
		margin: 0px 67px 2px 50px;
	}
}

/* below for image on top of process pages */
.project-banner {
	height: 40vh;
	background-size: cover;
	padding: 4rem 4rem;
	align-items: center;
}
.project-wrapper {
	margin: 40px 20px;
}
.proj-pic {
	height: 40vh;
	background-size: cover;
	padding: 4rem 4rem;
	align-items: center;
}
.proj-pic-b {
	height: 75vh;
	/* background-size: cover; */
	/* padding: 4rem 4rem; */
	align-items: center;
}
.proj-lyng-process-1 {
	height: 600px;
}
.proj-text-wrapper {
	margin: 0px 40px;
}
.process-pic {
	margin-top: 50px;
}
.process-pic-middle {
	margin-left: 20%;
}
.project-border {
	border: 0.5px solid #fc4827;
	/* margin: 20px; */
}
.project-caption {
	font-size: 14px;
	padding-right: 32px;
	width: 191px;
	margin: 100px 0px;
	color: #fd4927;
}

.project-caption-2 {
	font-size: 14px;
	padding: 40px 74px 0px 0px;
	/* margin: 100px 0px; */
	color: #fd4927;
}
