h1 {
	font-size:90px !important;
}

h2 {
	font-size:70px !important;
}

h3 {
	font-size:50px !important;
}

h4 {
	font-size:40px !important;
}

h5 {
	font-size:24px !important;
}

h6 {
	font-size:18px !important;
}

p {
  font-size: 14px !important;
}
