/* font-family: 'Poppins', sans-serif;
400, 400i, 600,700,800,800i,900
*/
h1 {
	font-size: 60px;
	color: #fc4827;
	margin-bottom: -20px;
	font-weight: 900;
	letter-spacing: -1px;
	/*font-size: 400%;*/
}
@media (max-width: 812px) {
	h1 {
		font-size: 50px;
		line-height: 66px;
	}
}

h2 {
	font-size: 45px;
	font-weight: 600;
	letter-spacing: -1px;
}

h3 {
	font-size: 30px;
	margin-bottom: 0px;
}
@media (max-width: 812px) {
	h3 {
		font-size: 25px;
	}
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
	margin: 5px 0px 10px 0px;
}
.italic {
	font-style: italic;
}

h6 {
	font-size: 16px;
	line-height: 36px;
	/* margin-top: 0px; */
	font-weight: 700;
	margin-bottom: 10px;
	/* margin-top: 20px; */
}

/* .quote-mark {
	font-size: 20px;
} */
.solution-text {
	font-size: 16px;
	line-height: 36px;
	font-weight: 400;
	color: #fd4927;
	margin-bottom: 20px;
}

p {
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.65px;
}
.caption {
	font-size: 12px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.65px;
}

.plat-intro-p {
	margin-top: -10px;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.65px;
}
@media (max-width: 768px) {
	.plat-intro-p {
		margin-top: 10px;
	}
}

.headlines {
	font-size: 28px;
	font-weight: 600;
	padding-left: 6rem;
	color: #fc4827;
}
@media (max-width: 768px) {
	.headlines {
		padding-left: 3rem;
	}
}
.headlines-in-banner {
	font-size: 28px;
	font-weight: 600;
	padding-left: none;
	color: #fc4827;
}
.subhead {
	font-size: 13px;
	line-height: 2em;
	letter-spacing: 1px;
	font-weight: 600;
	/* color: #fc4827; */
	/* color: #61d3c9; */
	color: #1bc3b5;
	padding: 0px 0px 15px 0px;
	text-transform: uppercase;
}
@media (max-width: 768px) {
	.subhead {
		padding: 0px;
	}
}
/* #9cb3b1 #61D3C9 #899392  */

.proj-name {
	font-size: 15px;
	font-weight: 500;
}
/* .about-text-container {
	margin: 40px;
} */
.about-text {
	font-size: 22px;
	letter-spacing: 1px;
	margin: 40px;
	font-weight: 400;
	color: #fd4927;
	padding-top: 113px;
}
@media (max-width: 768px) {
	.about-text {
		/* margin: 18px 40px 40px 40px; */
		font-size: 16px;
		padding-top: 15px;
	}
}

.extra-bold {
	font-weight: 800;
}
/* .bold {
	font-weight: 700;
} */
.semi-bold {
	font-weight: 600;
}
.medium {
	font-weight: 500;
}

.regular {
	font-weight: 400;
}

.text-background {
	color: white;
	background: rgba(0, 00, 0, 0.9);
}
.text-background-blue {
	color: black;
	background: aquamarine;
}
.person {
	font-size: 14px;
	margin-bottom: -5px;
	color: #ff4716;
	font-weight: 600;
	text-align: center;
}
.text-center {
	text-align: center;
}

li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
}

a.nav {
	color: #fc4827;
	text-decoration: none;
	font-size: 16px;
	text-align: right;
	transition: color 0.3s ease;
}

a.nav:hover {
	color: #61d3c9;
	/* font-size: 17px; */
}
a.nav:active {
	color: #fc4827;
}

/* portfolio card links */

/* a.website-link {
	text-decoration: none;
	color: black;
} */
/* a.website-link:hover {
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	color: #fc4827;
} */

a.website-link,
a.website-link:visited {
	text-decoration: none;
	position: relative;
	padding: 0px 5px 0px 0px;
	color: black;
}
a.website-link:after,
a.website-link:visited:after {
	content: "";
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	background: #fc4827;
	transition: all 0.3s ease-in-out;
}
a:hover:after,
a:visited:hover:after {
	width: 100%;
}
a.block,
a:visited.block {
	display: block;
	padding: 0.5em;
}
a.block:hover,
a:visited.block:hover {
	background: #eee;
}
