/* font-family: 'Poppins', sans-serif;
400,600,700,800,900
*/
h1 {
	font-size: 60px;
	color: #fc4827;
	margin-bottom: -20px;
	font-weight: 800;
	letter-spacing: -1px;
	/*font-size: 400%;*/
}

h2 {
	font-size: 45px;
	font-weight: 600;
	letter-spacing: -1px;
}

h3 {
	font-size: 27px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	font-weight: 400;
}

.extra-bold {
	font-weight: 800;
}
/* .bold {
	font-weight: 700;
} */
.semi-bold {
	font-weight: 600;
}
.regular {
	font-weight: 400;
}

.text-background {
	color: white;
	background: rgba(0, 00, 0, 0.9);
}

.person {
	font-size: 16px;
	font-style: italic;
	color: #ff4716;
}
.text-center {
	text-align: center;
}

li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
}

a {
	color: #fc4827;
	/* color: rgba(255, 99, 71); */
	text-decoration: none;
	font-size: 16px;
	text-align: right;
	transition: color 0.3s ease;
}

a:hover {
	color: aquamarine;
	font-size: 17px;
}
